.supporter1>* img {
    object-fit: scale-down;
    height:150px;
    width:400px;
 }
 .supporter2>* img {
    object-fit: scale-down;
    height:100px;
    width:300px;
 }
 .supporter3>* img {
    object-fit: scale-down;
    height:125px;
    width:200px;
 }